{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "arrow-parens": ["off"],
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "comma-dangle": "off",
    "default-case": "off",
    "dot-notation": "off",
    "flowtype-errors/show-errors": "error",
    "generator-star-spacing": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "indent": ["error", 2, { "SwitchCase": 0 }],
    "jsx-quotes": "off",
    "no-bitwise": "off",
    "no-case-declarations": "off",
    "no-console": "off",
    "no-mixed-operators": "off",
    "no-use-before-define": "off",
    "no-multi-assign": "off",
    "object-shorthand": ["error", "never"],
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "prefer-destructuring": "off",
    "quotes": "off"
  }
}
